.productiveness {
    padding-top: 140px;
    background-color: #181f2b;
    gap: 60px;

    h1 {
        max-width: 15ch;
        font-size: 40px;
        line-height: 50px;
    }
    p{
        max-width: 60ch;
    }
}