@font-face {
    font-family: Raleway;
    src: url('/src/assets/fonts/Raleway/static/Raleway-Regular.ttf');
}
@font-face {
    font-family: Raleway-Bold;
    src: url('/src/assets/fonts/Raleway/static/Raleway-Bold.ttf');
}

@font-face {
    font-family: Open-Sans;
    src: url('/src/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}